<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Debt Calculator</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="form-container">
        <h2>Technical Debt Calculator V1.0</h2>
        <form id="predictionForm">
            <label for="fanin">Fanin:</label>
            <input type="text" id="fanin" name="fanin"><br>
            
            <label for="fanout">Fanout:</label>
            <input type="text" id="fanout" name="fanout"><br>
            
            <label for="total_methods">Total Methods:</label>
            <input type="text" id="total_methods" name="total_methods"><br>
            
            <label for="total_variables">Total Variables:</label>
            <input type="text" id="total_variables" name="total_variables"><br>
            
            <label for="total_lines">Total Lines:</label>
            <input type="text" id="total_lines" name="total_lines"><br>
            
            <label for="comment_lines">Comment Lines:</label>
            <input type="text" id="comment_lines" name="comment_lines"><br>
            
            <label for="occurences">Occurences:</label>
            <input type="text" id="occurences" name="occurences"><br>
            
            <input type="button" value="Predict" onclick="predict()">
        </form>
        <div id="result"></div>
    </div>

    <!-- Button to try out v2 -->
    <div class="try-v2-button">
        <a class="try-v2-link" href="/v2">Try out our v2</a>
    </div>

    <script>
        function predict() {
            var formData = new FormData(document.getElementById("predictionForm"));
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/", true); // Send the POST request to the root URL
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    var predictionPercentage = (response.prediction * 100).toFixed(2); // Convert prediction to percentage
                    document.getElementById("result").innerHTML = "TD Probability: " + predictionPercentage + "%";
                }
            };
            xhr.send(formData);
        }
    </script>
    
</body>
</html>
